.content-teacher-body-header{
    display: flex;
    justify-content:space-between;
}
.content-teacher-body-header-button{
    margin-top: 20px;
}
.content-teacher-body-header-button button{
    background-color: lightgreen;
}
.teacher tr td:last-child button:first-child{
    background-color: yellow;
}
.teacher tr td:last-child button:last-child{
    background-color: red;
    color:#fff;
}
.content-teacher-body{
    background-color: #fff;
    padding: 50px;
    margin-top: 10px;
    border-radius: 15px;
    height: 400px;
    overflow:scroll;
}
.content-teacher-footer{
    text-align:center;
}
.teacher tr td,
.teacher tr th{
    font-size:15px;
}
.teacher tr td:last-child button:nth-child(2){
    display: none;
    background-color: lightblue;
}
.modal-create-teacher{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.5);
    display: none;
    overflow: auto;
}
.modal-create-teacher-content{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

}
.modal-create-teacher-content-header{
    display: flex;
    justify-content: space-between;
}
.modal-create-teacher-content-header span{
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
}
.modal-create-teacher-content-header span:hover{
    color: red;
    transition: all 0.5s ease;
}

.modal-create-teacher-footer button{
    background-color:lightgreen;
    width:100%;
}
.modal-edit-teacher{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.modal-edit-teacher-content{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

}
.modal-edit-teacher-content-header{
    display: flex;
    justify-content: space-between;
}
.modal-edit-teacher-content-header span{
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
}
.modal-edit-teacher-content-header span:hover{
    color: red;
    transition: all 0.5s ease;
}
.edit-teacher input[type="text"],
.edit-teacher input[type="date"],
.edit-teacher select,
.edit-teacher input[type="email"]{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #12312312;
}
.edit-teacher select{
    width: 110%;
}
.modal-edit-teacher-footer{
    margin-top:15px;
}
.modal-edit-teacher-footer button{
    background-color:yellow;
    width:100%;
}
.edit-teacher input[type="text"],.edit-teacher input[type="email"]{
    width: 600%;
}
.edit-teacher input[type="date"]{
    width: 600%;
}
.edit-teacher select{
    width: 610%;
}
.message td{
    color: red;
    font-weight: bolder;
}
.create-teacher li{
    display: flex;
}
.form-body{
    margin-top: 15px;
    margin-left: 20px;
    
}
.nama_guru{
    margin-left: 39px;
}
.nama_guru input{
    padding: 10px;
    min-width:1088px;
    max-width: 567%;
}
.alamat{
    margin-left: 78px;
}
.email{
    margin-left: 97px;
}
.mulai{
    margin-left: 25px;
}
.message{
    color:red;
    font-weight: bolder;
    display: none;
}
.kelamin{
    margin-left: 27px;
}
.kelamin select{
    padding: 10px;
    min-width:1100px;
    max-width: 567%;
}
.lahir{
    margin-left: 29px;
}
.lahir input[type="date"]{
    padding:10px;
    min-width:1087px;
    max-width: 567%;
}
.alamat input{
    min-width:1075px;
    max-width: 567%;
    padding: 10px;
}
.telepon{
    min-width:1075px;
    max-width: 567%;
    padding: 10px;
}
.email input[type="email"]{
    padding: 10px;
    min-width:1075px;
    max-width: 567%;
}
.mulai input[type="date"]{
    min-width:1100px;
    max-width: 567%;
    padding: 10px;
}
.mulai input[type="date"],
.email input[type="email"],
.alamat input,
.lahir input[type="date"],
.kelamin select,
.nama_guru input,
.telepon
{
    border:none;
    outline:none;
    background-color: #eeeeee;
}
.hide{
    display: none;
}
.content-reponsive-320px{
    display: none;
}